<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carga de Archivos PDF</title>
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <h1>Sube tu archivo de Lecturas del mes</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <p><input type="file" name="Archivo" class="form-control-file"></p>
                <p><input type="submit" value="Submit"  class="btn btn-primary"></p>      
            </div>
        </form>
        <ul class="list-group">
          {% for evento in eventos %}
          <li class="list-group-item justify-content-between">
            {{ evento.1 }}
            <span class="badge badge-default badge-pill">{{ evento.2 }}</span>
            <h1>{{ evento.0 }}</h1>
          </li>
          {% else %}
          <li><em>No hay lecturas registradas!</em></li>
        {% endfor %}
        </ul>
        <footer class="footer">
          <p>&copy; C6 MINI APP 2020</p>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
 
</html>